@import './variables.scss';

.customLinkButton {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: $purple !important;
  text-decoration: underline;
  font-weight: bolder !important;
  font-size: 14px !important;
  cursor: pointer;
  &:hover {
    color: rgba($purple, 0.6);
    text-decoration: underline !important;
  }
}

.customLink {
  font-weight: bolder !important;
  font-size: 14px;
  color: $purple !important;
  &:hover {
    color: rgba($purple, 0.6);
    text-decoration: underline !important;
  }
}
