@import url('https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap');

$primary-color: #131518;
$secondary-color: #61dafb;

$black: #000000;
$lightBlack: #131518;
$white: #ffffff;
$orange: #f44336;
$pink: #fd79a8;
$purple: #130f40;
$blue: #3f51b5;
$lightBlue: #03a9f4;

$border: #e8e8e8;

$boxShadow: 1px 0px 4px rgba(0, 0, 0, 0.1);

.googleColor {
  background-color: #db4437 !important;
}

.facebookColor {
  background-color: #3b5998 !important;
}

.googleFontColor {
  color: #db4437 !important;
}

.facebookFontColor {
  color: #3b5998 !important;
}
